@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --accent-color: #0052ff;
  --background-color: #fafafa;
  --card-color: #adadad;
  --button-color: #393939;
}

body {
  background-color: var(--background-color);
  color: var(--button-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-card {
  background-color: var(--card-color);
}

.bg-button {
  background-color: var(--button-color);
}

